.leftbar{
    background-color: var(--backgroundColor);
    border: 1px solid #D3D3D3;
    color: #08464B;
    padding: 1rem;
    /* height: 93vh; */
    /* min-width: 24rem; */
}

.pvicon{
    margin-left: 1.9rem;
}

.textpresident{
    margin: 0.2rem 0rem;
    color: var(--lightgrey);
}

.ringoverbox{
    margin: 0.2rem 0rem;
    color: var(--secondarycolor)
}

.slash{
    margin: 1rem;
}

.ringoverlink a{
    text-decoration: none;
}

.ringoveremail{
    color: var(--primarycolor);
}

.socialicons{
    display: flex;
    justify-content: center;
    margin: 0.4rem;
}

.linebreak1{
    border: 1px solid #E4E5E9;
    margin-top: 1.5rem;
}

.linebreak2{
    border: 1px solid #E4E5E9;
    margin-bottom: 1.5rem;
}

.socialicons > *{
    margin: 0rem 0.5rem;
}

.topics{
    padding: 1rem 0;
    color: var(--secondarycolor);
}

.topics > *{
    border: 1px solid #08464B;
    margin-right: 0.5rem;
    padding: 0.1rem 0.8rem;
    border-radius: 0.3rem;
}

.socialicons2{
    margin-right: 1rem;
}

.socialicons2 span{
    margin-bottom: 1rem;
}



.contacts{
    list-style: none;
    padding: 0.5rem 0;
}

.contacts li{
    padding: .2rem 0;
}

.primarytext{
    display: inline-block;
    font-size: 13px;
    color: #ED4E75;
}

.menubar{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.circle_call{
    display: inline-block;
}

.menus{
    display: flex;
    border: 1px solid #41BCC3;
    justify-content: center;
    align-items: center;
    margin-left: 0.8rem;
    border-radius: 0.5rem;
}

.menus > *{
    margin: 1rem;
}


/* Modal Specific  */
.modal-open{
    color: #41BCC3;
    outline: none;
    border: none;
}
.modal-open:hover{
    color: var(--secondarycolor);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    display: none;
}

.modal-content{
    background: #fff;
    margin-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    border-radius: 4px;
    z-index: 4;
}

.modal-header{
    font-weight: 500;
    padding: 10px 0;
    font-size: 26px;
}

.modal-header .modal-close{
    float: right;
    font-size: 20px;
    background: #efefef;
    border: 0;
    outline: 0;
    padding: 4px 8px;
    border-radius: 50%;
}

.modal-body{
    color: #302c2c;
    padding: 15px 0;
}

.modal-footer{
    padding: 15px 0;
}

.modal-footer .modal-close{
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #1a73e8;
}

@keyframes modal-open{
    from{
        opacity: 0;
    }
    to{
        opacity:1
    }
}







