*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
}

.inline{
    display: inline-block;
}

:root {
    --primarycolor: #41BCC3;
    --secondarycolor: #08464B;
    --lightgrey: #6F8C94;
    --backgroundColor: #FFFFFF;
}

