.navigation{
    display: grid;
    height: 3.5rem;
    background-color: #08262E;
    grid-template-columns: 1.5fr 5fr 1.5fr;
}

.leftNav{
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

.logo{
    color: var(--primarycolor);
    margin-right: 0.5rem;
}

.webName{
    color: #ECECEC;
    font-size: 17px;
}

.centerNav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sInput{
    padding: 0.3rem 1rem;
    width: 36rem;
    border-radius: 0.5rem;
    background-color: #203E46;
    position: relative;
    font-size: 14px;
    color: #F1F2F4;
}

.searchLogo{
    position: absolute;
    margin-left: 33rem;
    color: #BFBFBF;
}

.rightNav{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.rightNav > *{
    margin: 0rem 0.5rem;
}

a{
    text-decoration: none;
}